/*
 * Entypo pictograms by Daniel Bruce — www.entypo.com
 */

@font-face {
	font-family: "Entypo Social";
	src: url('/assets/fonts/entypo-social.eot');
	src: url('/assets/fonts/entypo-social.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/entypo-social.woff') format('woff'), url('/assets/fonts/entypo-social.ttf') format('truetype'), url('/assets/fonts/entypo-social.svg#svgFontName') format('svg');
}

@font-face {
	font-family: "Entypo";
	src: url('/assets/fonts/entypo.eot');
	src: url('/assets/fonts/entypo.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/entypo.woff') format('woff'), url('/assets/fonts/entypo.ttf') format('truetype'), url('/assets/fonts/entypo.svg#svgFontName') format('svg');
}