<div class="clearfix"></div>
<section>
  <nav class="subnav" style="margin-top: 2em;">
    <ul>
      <li class="left first">
        <a href="http://localhost:3000/culture/people">
          People
        </a>
      </li>
      <li class="left">
        <a href="http://localhost:3000/culture/handbook">
          Handbook
        </a>
      </li>
      <li class="left">
        <a class="active" href="http://localhost:4000">
          Methodology
        </a>
      </li>
    </ul>
  </nav>

  <div>
    {{ content }}
  </div>
</section>
